[Unit]
Description=PLN Mesh Node
Documentation=https://github.com/sambigeara/pollen
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/pln --dir /var/lib/pln up
Restart=on-failure
RestartSec=5
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
